* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #f5d98c;
  color: rgb(199, 32, 32);
}

.booklist {
  width: 80vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }
}
.phone {
  background: #fff;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
}
.phone img {
  width: 100%;
  object-fit: cover;
}
.phone h2 {
  margin-top: 1rem;
  font-size: 1rem;
}

.phone h4 {
  color: #da2626;
  font-size: 0.75rem;
  margin-top: 0.5rem;
  letter-spacing: 2px;
}
.phone p {
  margin: 1rem 0 0.5rem;
}
h1 {
  text-align: center;
  margin-top: 4rem;
  text-transform: capitalize;
}
